body {
    margin: 25;
    padding: 15;
    border: 10;
    font-family: sans-serif;
    background-color: indigo;
    background-image: url('https://cdn.britannica.com/97/100797-050-F47ACCE9/swallowtail-butterfly.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* cover entire container */
    color: lavender;
}

.content {
    width: 100%;
    text-align: center;
}