{% extends 'base.html' %}

{% block head %}
    <title>Butterfly Book</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="info" style="text-align=center">
        <h1 style="text-align=center">Butterfly Book</h1>
    </div>

    <div class="classification">
        <p>{{response}}</p>
        <div class="form">
            <form action="/" method="POST">
                <input type="submit" value="Home">
            </form>
        </div>
    </div>

</div>
{% endblock %}